<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnShell</title>
    <script src="/js/template_main_component.js"></script>
</head>
<body>
    <h1>LearnShell</h1>

    <terminal-main></terminal-main>
</body>
</html>
